{% extends 'base.html' %}
{% load my_filters %}

{% block title %}BikeShare Toronto Station Heatmap{% endblock %}
{% block subtitle %}A heatmap showing which stations you use the most{% endblock %}

{% block content %}
    {% if map %}
        {{ map | safe}}
    {% endif %}
    <h2 class="content-subhead">Paste your HTML here</h2>
    <div class="pure-form pure-form-stacked">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.html_paste|addclass:'pure-input-1' }}
                <input type="submit" value="Submit" class="pure-button pure-button-primary" />
            </fieldset>
        </form>
    </div>
{% endblock %}