{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/grids-min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/grids-responsive-min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/station_details.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/mapbox-gl.css' %}" />
<script src="{% static 'js/mapbox-gl.js' %}"></script>
<script>
    (function () {
        window.geojson = {{ geojson|safe }};
    }());
</script>
<script src="{% static 'js/station_details.js'%} "></script>
{% endblock %}

{% block title %}{% block page_title %}Station Details{% endblock %}{% endblock %}
{% block subtitle %}{{ station.name }}{% endblock %}

{% block content %}
<div>
<div class="pure-g">
    <div class="pure-u-1-2 pure-u-md-1-2 pure-u-sm-1">
        <div id="map"></div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-2 pure-u-sm-1">
        <table>
            <tr>
                <td>Capacity:</td><td>{{ station.capacity }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="pure-g">
    <form action="{% url 'station_details' station.id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.imgfile.label_tag }} {{ form.imgfile.help_text }}</p>
        <p>
            {{ form.imgfile.errors }}
            {{ form.imgfile }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>
</div>
</div>
{% endblock %}