#map {
    width: 100%;
    height: 200px;
}

.photo_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.station_img {
    width: 100%;
}

.station_availability_item {
    text-align: center;
}
